<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <nav>
              </nav>
            </div>
          </div>

          <div class="inner cover">
                <h1 class="cover-heading">Thank you for making an Appointment!</h1>
                <p class="lead">A reminder email has been sent to you. Or would have been if I had implemented something like that.</p>
                <p class="lead">
                  <a class="btn btn-lg btn-default" (click)="toMyAppointments()">View My Appointments</a>
                </p>
              </div>



        </div>

      </div>

    </div>
